<li class="nav-item">
    <a class="navUser-action" href="#">
        <span class="label-only">
            <span class="image-flag"><img src="/product_images/uploaded_images/flag-ch.svg" alt="ofinto Schweiz"></span>
            <span class="text-flag">Schweiz (de)</span>
        </span>
        <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use href="#icon-chevron-down"></use></svg></i>
	</a>
    <div class="navUser-currency mega-menu-content">
        <div class="container">
            <div class="currency-menu-inner">
				<h5 class="currency-heading mob-hd">
                	<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use href="#icon-chevron-down"></use></svg></i>
                	<span class="image-flag"><img src="/product_images/uploaded_images/flag-ch.svg" alt="Schweiz (de)"></span><span class="text-flag">Schweiz (de)</span>
                </h5>
                <ul class="currency-list">
                	<li>
                        <a href="#Weglot-fr">
                            <span class="image-flag"><img src="/product_images/uploaded_images/flag-fr-ch.svg" alt="Suisse (fr)"></span><span class="text-flag">Suisse (fr)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#Weglot-en">
                            <span class="image-flag"><img src="/product_images/uploaded_images/flag-en-ch.svg" alt="Switzerland (en)"></span><span class="text-flag">Switzerland (en)</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://ofinto.de">
                            <span class="image-flag"><img src="/product_images/uploaded_images/flag-de.svg" alt="Deutschland"></span><span class="text-flag">Deutschland</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://ofinto.at">
                            <span class="image-flag"><img src="/product_images/uploaded_images/flag-at.svg" alt="Österreich"></span><span class="text-flag">Österreich</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://ofinto.fr">
                            <span class="image-flag"><img src="/product_images/uploaded_images/flag-fr.svg" alt="France"></span><span class="text-flag">France</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://ofinto.co.uk">
                            <span class="image-flag"><img src="/product_images/uploaded_images/flag-uk.svg" alt="United Kingdom"></span><span class="text-flag">United Kingdom</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>