{{#if theme_settings.enable_payment_custom_block}}
<div class="payment-custom-block{{#if theme_settings.footer-layout '==' 'footer-layout-2'}} footer-layout-2{{/if}}">
    <div class="container">
        <h5>{{#if theme_settings.payment-custom-block-text-1 '!=' ''}}{{theme_settings.payment-custom-block-text-1}}{{/if}}{{#if theme_settings.payment-custom-block-image '!=' ''}}<img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.payment-custom-block-image}}" alt=""/>{{/if}}{{#if theme_settings.payment-custom-block-text-2 '!=' ''}}{{theme_settings.payment-custom-block-text-2}}{{/if}} {{#if theme_settings.payment-custom-block-link-text '!=' ''}}<a href="{{theme_settings.payment-custom-block-link-url}}"><span>{{theme_settings.payment-custom-block-link-text}}</span></a>{{/if}}</h5>
    </div>
</div>
{{/if}}
