<nav class="navUser">
    
    <div class="navUser-section navUser-section--help">
        {{!-- Help header nav and dropdown appear dynamically from json customize file --}}
    </div>
    
    {{> components/common/currency-selector}}

    <div class="navUser-section navUser-section--alt">
        <div class="navUser-item navUser-item--quichSearch">
            <a class="navUser-action navUser-action--search" href="javascript:void(0)">
                <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
            </a>
            <div class="themevaleSearch">
                {{> components/common/quick-search}}
            </div>
        </div>
        
        <div class="navUser-item navUser-item--account">
            <a class="navUser-action navUser-action--account" href="javascript:void(0)">
                {{#if customer}}
                    <span class="text">
                        <svg class="icon icon-user-header"><use xlink:href="#icon-user"></use></svg>
                    </span>
                {{else}}
                    <span class="text">
                        <svg class="icon icon-user-header"><use xlink:href="#icon-user"></use></svg>
                    </span>
                {{/if}}
            </a>

            <div class="dropdown-menu account-dropdown" id="accountDropdown">
                {{> components/themevale/login-form}}
            </div>

        </div>
        
        <div class="navUser-item navUser-item--cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-themevale-dropdown
                data-options="align:right"
                href="{{urls.cart}}">
                <svg class="icon"><use xlink:href="#icon-cart"></use></svg>
                <span class="countPill cart-quantity"></span>
            </a>
        </div>        
    </div>
</nav>