<div class="navPage-subMenu navPage-subMenu-horizontal navPage-subMenu-level1" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item-child navPage-subMenu-title">
            <p class="navPage-subMenu-action navPages-action">
                <span class="navPages-action-moreIcon" aria-hidden="true">&#10095;</span>
                <a class="text" href="{{url}}">{{name}}</a>
            </p>
        </li>
        {{#each children}}
            {{#if children}}
                <li class="navPage-subMenu-item-child">
                    <p class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu{{#if is_active}} activePage{{/if}}">
                        <a class="text" href="{{url}}">{{name}}</a> 
                        <span class="icon navPages-action-moreIcon" aria-hidden="true">&#10095;</span>
                    </p>
                    {{> components/common/navigation-dropdown}}
                </li>
            {{else}}
                <li class="navPage-subMenu-item-child navPages-action-end">
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}} navPages-action-end" href="{{url}}"><span class="text">{{name}}</span></a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
