{{#with theme_settings}}
    {{#or show_accept_visa show_accept_mastercard show_accept_amex show_accept_discover show_accept_cirrus show_accept_paypal show_accept_western_union show_accept_amazonpay show_accept_googlepay}}
    <div class="footer-payment-icons">
        {{#if show_accept_visa}}
        <svg class="footer-payment-icon visa"><use xlink:href="#icon-logo-visa"></use></svg>
        {{/if}}
        {{#if show_accept_mastercard}}
        <svg class="footer-payment-icon mastercard"><use xlink:href="#icon-logo-mastercard"></use></svg>
        {{/if}}
        {{#if show_accept_amex}}
        <svg class="footer-payment-icon american-express"><use xlink:href="#icon-logo-american-express"></use></svg>
        {{/if}}
        {{#if show_accept_discover}}
        <svg class="footer-payment-icon discover"><use xlink:href="#icon-logo-discover"></use></svg>
        {{/if}}
        {{#if show_accept_cirrus}}
            <svg class="footer-payment-icon cirus"><use xlink:href="#icon-logo-cirrus"></use></svg>
        {{/if}}
        {{#if show_accept_paypal}}
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-paypal"></use></svg>
        {{/if}}
        {{#if show_accept_western_union}}
        <svg class="footer-payment-icon western-union"><use xlink:href="#icon-logo-estern-union"></use></svg>
        {{/if}}
        {{#if show_accept_amazonpay}}
        <svg class="footer-payment-icon amazonpay"><use xlink:href="#icon-logo-amazonpay"></use></svg>
        {{/if}}
        {{#if show_accept_googlepay}}
        <svg class="footer-payment-icon googlepay"><use xlink:href="#icon-logo-googlepay"></use></svg>
        {{/if}}
    </div>
    {{/or}}
{{/with}}
