// =============================================================================
// SEARCH
// =============================================================================
.pape-type-search {
    .panel-body {
        background: #f5f5f5;
    }
}
#search-results-heading {
    padding-top: 47px;
    display: inline-block;
    width: 100%;
    .page-heading {
        margin-bottom: 46px;
    }
}
.search-suggestion {
    margin-bottom: spacing("single") + spacing("third");

    > :last-child {
        margin-bottom: 0;
    }
}

.suggestion-title {
    margin-top: 0;
    font-weight: 600;
}

.advancedSearch-form {
    margin-bottom: spacing("double");

    .form-row {
        margin-bottom: -(spacing("single"));
    }
    .form-actions {
        text-align: center;
    }
}

.quickSearchResults {
    display: none;
    padding: 15px 10px;
    &.show-result {
        display: block;
    }
    .modal-close {
        display: none;
    }
}

.advancedSearch-separator {
    display: none;
}

.advancedSearch-title {
    margin: 0 0 spacing("single");
    font-size: 16px;
}

#advanced-search-submit {
    min-width: 180px;
    @media (max-width: 550px) {
        margin-top: 15px;
    }
}

.search-price-range {
    label {
        display: inline;

        // scss-lint:disable SelectorDepth, NestingDepth
        
        input {
            display: block;
            padding-left: spacing("single");

            @include breakpoint("small") {
                display: inline;
                width: 6rem;
            }
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        span {
            @include breakpoint("small") {
                display: inline;
                padding-left: spacing("single");
                padding-right: spacing("single");
            }
            @media (max-width: 550px) {
                display: block;
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
        &.from {
            span {
                padding-left: 0;
            }
        }
    }
}

.category-suggestion-list {
    @include grid-row($behavior: "nest");
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(12);
    font-size: 13px;
    @media (min-width: 361px) {
        @include grid-column(6);
    }
    @include breakpoint("small") {
        @include grid-column(4);
    }
}

.search-refine {
    margin-left: spacing("single");
}

.quickSearchMessage {
    font-size: $fontSize-smaller;
    margin: 0;
    text-align: center;
}

#search-results-content {
    .actionBar-section {
        .form-select {
            min-width: 150px;
        }
    }
    ul {
        margin-left: 0;
        strong {
            margin-right: 8px;
        }
    }
}
