{{#if banner '==' 'banner_two_images_1'}}
    {{> components/themevale/banners/layout-banner find="themevale_homepage_banner_two_images_1"}}
{{/if}}
{{#if banner '==' 'banner_three_images'}}
    {{> components/themevale/banners/layout-banner find="themevale_homepage_banner_three_images"}}
{{/if}}
{{#if banner '==' 'banner_two_images_2'}}
    {{> components/themevale/banners/layout-banner find="themevale_homepage_banner_two_images_2"}}
{{/if}}
{{#if banner '==' 'banner_lookbook'}}
    {{> components/themevale/banners/layout-banner find="themevale_homepage_banner_lookbook"}}
{{/if}}
{{#if banner '==' 'banner_custom_block'}}
    {{> components/themevale/banners/layout-banner find="themevale_homepage_banner_custom_block"}}
{{/if}}
{{#if banner '==' 'instagram'}}
	{{> components/themevale/banners/layout-banner find="themevale_instagram"}}
{{/if}}
{{#if banner '==' 'category_custom_block'}}
	{{> components/themevale/banners/layout-banner find="themevale_category_custom_block"}}
{{/if}}
