---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    top_sellers:
         limit: {{theme_settings.sidebar_products_count}}
    featured:
        limit: {{theme_settings.sidebar_products_count}}
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<div class="page">
    {{#if category.image}}
        <div class="category-image">
            {{> components/common/responsive-img
                image=category.image
                fallback_size=theme_settings.zoom_size
                lazyload=theme_settings.lazyload_mode
                class="category-header-image"
            }}
        </div>
    {{/if}}
    
    <div class="container">

        <div class="themevale-category-header">
          <h1 class="page-heading">{{category.name}}</h1>
            
        </div>

        <main class="page{{#if theme_settings.themevale_homepage_layout_1}} homepage-layout-1{{else}} homepage-layout-2{{/if}}" id="product-listing-container">
          {{#if category.products}}
              {{> components/category/product-listing settings=../settings}}
          {{else}}
              <p class="no_products">{{lang 'categories.no_products'}}</p>
          {{/if}}
        </main>

        <div class="category-description category-header-col{{#if theme_settings.hide_category_page_heading '==' true}} no-heading{{/if}}">
                {{#unless theme_settings.hide_category_page_heading }}
                {{/unless}}
                {{{category.description}}}
        <!-- Filter section removed -->
         </div>
        
        {{{region name="category_below_header"}}}
        
        <aside class="page-sidebar{{#if theme_settings.show_sidebar '==' 'show'}} sidebar-show{{else}} sidebar-hide{{/if}}" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>

        {{{region name="category_below_content"}}}

        {{> components/themevale/banners/banner banner="category_custom_block"}}
        {{{region name="category_below_custom_block"}}}

        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>
    
</div>

{{/partial}}
{{> layout/base}}
