{{#partial "page"}}
<main class="page">
    <div class="container container-smaller">
        <div class="themevale-heading">
            <h1 class="page-heading">{{lang 'sitemap.page_title'}}</h1>
        </div>

        <ul class="map-level-1">
        {{#each sitemap}}
            <li>
                <h3>{{label}}</h3>
                <ul class="map-level-2">
                    {{#each body}}
                    <li>
                        <a href="{{url}}">{{label}}</a>
                        {{#if children}}
                            <ul class="map-level-3">
                            {{#each children}}
                                {{> components/sitemap/links}}
                            {{/each}}
                            </ul>
                        {{/if}}
                    </li>
                    {{/each}}
                    {{#if show_all_link}}
                    <li>
                        <a href="{{subsection_url}}">{{lang 'sitemap.show_all_link'}}</a>
                    </li>
                    {{/if}}
                </ul>
            </li>
        {{/each}}
        </ul>
    </div>
</main>

{{/partial}}
{{> layout/base}}
