<div class="card card-custom" data-product-id="{{product.id}}">
    <div class="card-image">
        <a class="card-link" href="{{product.url}}">
            {{> components/common/responsive-img
                image=product.main_image
                fallback_size=theme_settings.productgallery_size
                lazyload=theme_settings.lazyload_mode
                default_image=theme_settings.default_image_product
            }}
        </a>
    </div>
    <div class="card-content">
        <h4 class="card-title{{#if theme_settings.themevale_color_variant}} has-color-variant{{/if}}">
            <a {{#if theme_settings.card_title_type '==' 'clamp'}}class="clamp"{{/if}}{{#if theme_settings.card_title_type '==' 'clamp'}} style="-webkit-box-orient: vertical; -webkit-line-clamp: {{theme_settings.card_title_line}};"{{/if}} href="{{url}}" {{#if true}} data-event-type="product-click" {{/if}}>{{product.title}}</a>
        </h4>
        <div class="card-price" data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=product.price}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </div>
</div>
