<div id="sideCustomCMS" class="sidebarBlock sidebarBorder">
	{{#if theme_settings.sidebar_custom_block_title '!=' ''}}
    <h5 class="sidebarBlock-heading"><span>{{theme_settings.sidebar_custom_block_title}}</span></h5>
    {{/if}}
    <div class="side-cms-content">
        <p>{{theme_settings.sidebar_custom_block_content_1}}{{theme_settings.sidebar_custom_block_content_2}}{{theme_settings.sidebar_custom_block_content_3}}</p>
        <p>{{theme_settings.sidebar_custom_block_content_4}}{{theme_settings.sidebar_custom_block_content_5}}</p>
    </div>
</div>
