// Hero Carousel Settings
// -----------------------------------------------------------------------------
$carousel-color:  stencilColor("hero-carousel-color");

$heroCarousel-button-color: stencilColor("hero-carousel-button-color");
$heroCarousel-button-bgcolor: stencilColor("hero-carousel-button-bgColor");
$heroCarousel-button-border-color: stencilColor("hero-carousel-button-border-color");
$heroCarousel-button-color-hover: stencilColor("hero-carousel-button-color-hover");
$heroCarousel-button-bgcolor-hover: stencilColor("hero-carousel-button-bgColor-hover");
$heroCarousel-button-border-color-hover: stencilColor("hero-carousel-button-border-color-hover");

