// =============================================================================
// ADD RETURN REQUEST (CSS)
// =============================================================================


.account--addReturn {

    .table {
        display: block;
        margin-bottom: spacing("double");

        @include breakpoint("small") {
            display: table;
            margin-bottom: spacing("double") * 2;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        tr {
            display: block;
            padding: 0;

            @include breakpoint("small") {
                display: table-row;
            }
        }

        th,
        td {
            display: block;
            padding-left: 1.5rem;
            padding-bottom: spacing("half");
            padding-top: spacing("half");

            @include breakpoint("small") {
                display: table-cell;
            }

            // scss-lint:disable NestingDepth
            + th,
            + td {
                padding-left: 1.5em;

                @include breakpoint("small") {
                    padding-left: spacing("single");
                }
            }
        }

        .return-itemTitle {
            font-size: 14px;
            font-weight: 600;
        }

        .definitionList {
            margin-bottom: 0px;
        }

        .definitionList-label {
            font-weight: 500;
        }

        .definitionList-description {
            font-weight: 300;
        }        
        .return-itemTitle + .definitionList {
            margin-top: spacing("eighth");
        }

        .return-itemPrice {
            @include breakpoint("small") {
                text-align: center;
            }
        }

        td.return-itemPrice {
            font-weight: 600;
            
            @include breakpoint("small") {
                font-weight: 500;
            }
        }

        .return-itemQuantity {
            @include breakpoint("small") {
                text-align: right;
            }
        }
    }

    .table-thead {
        display: none;

        @include breakpoint("small") {
            display: table-header-group;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        th {
            font-size: fontSize("smaller");
        }

        th:first-child {
            width: 60%;
        }
    }

    .table-tbody {
        display: block;

        @include breakpoint("small") {
            display: table-row-group;
        }
    }
}

.form-label.mobile-label {
    display: inline;
    margin-right: spacing("quarter");
    font-weight: 600;

    @include breakpoint("small") {
        @include u-hidden("visually");
    }
}

.return-itemName {
    font-size: fontSize("base");
    font-weight: fontWeight("normal");

/*     @include breakpoint("small") {
        font-size: fontSize("base");
        font-weight: fontWeight("normal");
    } */
}

.return-itemPrice {
    margin-bottom: spacing("quarter");

    @include breakpoint("small") {
        margin-bottom: 0;
        text-align: center;
    }
}

.return-itemQuantity {
    padding-right: spacing("base") !important;
}

.account--addReturn-row {
    @include grid-row($behavior: "nest");
    margin: 0 (-(spacing("base")));
    padding: 0 spacing("base");
}

.account--addReturn-column {
    @include grid-column(12);
    padding: 0 spacing("base");

    @include breakpoint("small") {
        width: grid-calc(6, $total-columns);
    }
}
