<header class="header themevale-header-layout-1" role="banner">
  <div class="themevale-header-PC">
      <div class="container">
          <div class="themevale_header">
              <div class="header-left header-menu">
                  <div class="navPages-container" id="menu" data-menu>
                      {{> components/common/navigation-menu}}
                  </div>
              </div>
              <div class="header-center">
                  {{#if page_type '===' 'default'}}
                      <h1 class="header-logo text-center">
                          {{> components/common/store-logo}}
                      </h1>
                  {{else}}
                      <div class="header-logo text-center">
                          {{> components/common/store-logo}}
                      </div>
                  {{/if}}
              </div>
              <div class="header-right">
                  {{> components/common/navigation}}
              </div>
          </div>
      </div>
  </div>
  <div class="themevale-header-mobile">
      {{> components/themevale/header/header-mobile}}
  </div>

{{{region name="home_below_menu"}}}

{{#if theme_settings.enable_announcement_bar}}
<div class="announcementBar">
  <div class="container">
    <div class="announcement-bar-list" data-slick='{
      "dots": false,
      "arrows": false,
      "infinite": true,
      "mobileFirst": true,
      "vertical": true,
      "autoplay": true,
      "slidesToShow": 1,
      "slidesToScroll": 1,
      "responsive": [
      {
        "breakpoint": 767,
        "settings": {
          "slidesToShow": 1,
          "slidesToScroll": 1,
          "dots": false,
          "arrows": true
        }
      }
      
      ]
    }'>
      {{#if theme_settings.announcement_bar_1_text '!=' ''}}
        <div class="announcement-bar-item">
          {{#if theme_settings.announcement_bar_1_link '!=' ''}}<a href="{{theme_settings.announcement_bar_1_link}}">{{else}}<span>{{/if}}
            {{theme_settings.announcement_bar_1_text}}
          {{#if theme_settings.announcement_bar_1_link '!=' ''}}</a>{{else}}</span>{{/if}}
      </div>
      {{/if}}
      {{#if theme_settings.announcement_bar_2_text '!=' ''}}
        <div class="announcement-bar-item">
          {{#if theme_settings.announcement_bar_2_link '!=' ''}}<a href="{{theme_settings.announcement_bar_2_link}}">{{else}}<span>{{/if}}
            {{theme_settings.announcement_bar_2_text}}
          {{#if theme_settings.announcement_bar_2_link '!=' ''}}</a>{{else}}</span>{{/if}}
        </div>
      {{/if}}    
      {{#if theme_settings.announcement_bar_3_text '!=' ''}}
        <div class="announcement-bar-item">
          {{#if theme_settings.announcement_bar_3_link '!=' ''}}<a href="{{theme_settings.announcement_bar_3_link}}">{{else}}<span>{{/if}}
            {{theme_settings.announcement_bar_3_text}}
          {{#if theme_settings.announcement_bar_3_link '!=' ''}}</a>{{else}}</span>{{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
</header>
{{/if}}