
{{#if theme_settings.enable_announcement_bar}}
<div class="announcementBar announcementBar-layout-2">
    <div class="container">
        <div class="announcement-bar-list" data-slick='{
            "dots": false,
            "arrows": true,
            "infinite": true,
            "mobileFirst": true,
            "vertical": true,
            "autoplay": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "responsive": [
            {
                "breakpoint": 1024,
                "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 3,
                    "dots": false,
                    "arrows": true,
                    "vertical": false
                }
            }            
            ]
        }'>
            {{#if theme_settings.announcement_bar_1_text '!=' ''}}
                <div class="announcement-bar-item">
                    <svg class="icon icon-risk-free-header"><use xlink:href="#icon-risk-free-header"></use></svg>
                    {{#if theme_settings.announcement_bar_1_link '!=' ''}}<a href="{{theme_settings.announcement_bar_1_link}}">{{else}}<span>{{/if}}
                        {{theme_settings.announcement_bar_1_text}}
                    {{#if theme_settings.announcement_bar_1_link '!=' ''}}</a>{{else}}</span>{{/if}}
            	</div>
            {{/if}}
            {{#if theme_settings.announcement_bar_2_text '!=' ''}}
                <div class="announcement-bar-item">
                    <svg class="icon icon-risk-free-header"><use xlink:href="#icon-risk-free-header"></use></svg>
                    {{#if theme_settings.announcement_bar_2_link '!=' ''}}<a href="{{theme_settings.announcement_bar_2_link}}">{{else}}<span>{{/if}}
                        {{theme_settings.announcement_bar_2_text}}
                    {{#if theme_settings.announcement_bar_2_link '!=' ''}}</a>{{else}}</span>{{/if}}
                </div>
            {{/if}}    
            {{#if theme_settings.announcement_bar_3_text '!=' ''}}
                <div class="announcement-bar-item">
                    <svg class="icon icon-customer-support"><use xlink:href="#icon-customer-support"></use></svg>
                    {{#if theme_settings.announcement_bar_3_link '!=' ''}}<a href="{{theme_settings.announcement_bar_3_link}}">{{else}}<span>{{/if}}
                        {{{theme_settings.announcement_bar_3_text}}}
                    {{#if theme_settings.announcement_bar_3_link '!=' ''}}</a>{{else}}</span>{{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
{{/if}}
<header class="header themevale-header-layout-2" role="banner">
    
    
    {{> components/common/usp-banner-top}}
    
    <div class="themevale-header-PC">
        <div class="container">
            <div class="themevale_header">
                <div class="header-left">
                    {{#if page_type '===' 'default'}}
                        <h1 class="header-logo">
                            {{> components/common/store-logo}}
                        </h1>
                    {{else}}
                        <div class="header-logo">
                            {{> components/common/store-logo}}
                        </div>
                    {{/if}}
                    
                </div>
                <div class="header-center header-menu">
                    <div class="navPages-container" id="menu" data-menu>
                        {{> components/common/json-mega-menu}}
                    </div>
                </div>
                <div class="header-right">
                    {{> components/common/navigation-2}}
                </div>
            </div>
        </div>
    </div>
    <div class="themevale-header-mobile">
        {{> components/themevale/header/header-mobile}}
    </div>
</header>
{{{region name="home_below_menu"}}}


<script>
$(document).ready(function() {
    setTimeout(function(){
        $('#menu-mobile ul > .nav-item .navUser-action').on('click', function(event) {
        	event.preventDefault();
        	$('#menu-mobile .nav-item').removeClass('jsonNav-active');
        	$('body').removeClass('jsonNav-active');
        	$('#menu-mobile .nav-item .mega-menu-content').hide();
        	$(this).closest('#menu-mobile .nav-item').addClass('jsonNav-active');
        	$('body').addClass('jsonNav-active');
        	$(this).parent().siblings('#menu-mobile .nav-item .mega-menu-content').show();
        });
        $('#menu-mobile .mob-hd').on('click', function() {
    		$('.nav-item').removeClass('jsonNav-active');
    		$('body').removeClass('jsonNav-active');
        });
        $('.mobileMenu-toggle').on('click', function() {
            $('.nav-item').removeClass('jsonNav-active');
            $('body').removeClass('jsonNav-active');
        });
        
        $('#menuMobile .navUser-helpMenu').addClass('mega-menu-content');
    },1500);
});
</script>