{{#partial "page"}}
<main class="page forgot-password account">
    <div class="container container-small">
        <div class="themevale-heading">
                <h1 class="page-heading">{{lang 'reset_password.heading' }}</h1>
            </div>
        <div class="page-content">
            <div class="account">
                <p>{{lang 'reset_password.intro' }}</p>
                {{#if forms.forgot_password.error}}
                    {{> components/common/alert-error forms.forgot_password.error}}
                {{/if}}
                <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
                    {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                    <label class="form-label">{{lang 'common.email_address'}}:</label>
                      <div class="form-prefixPostfix wrap">
                        <input class="form-input" name="email" id="email" type="email" formnovalidate>
                        <input type="submit" class="button button--small button--primary form-prefixPostfix-button--postfix" value="{{lang 'reset_password.heading' }}">
                    </div>
                </form>
            </div>
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
    </div>
</main>
{{/partial}}
{{> layout/base}}
