@font-face {
  font-family: "PP Neue Montreal";
  src: url(https://ofinto.ch/content/fonts/PPNeueMontreal-Medium.woff2) format("woff2"), url(https://ofinto.ch/content/fonts/PPNeueMontreal-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url(https://ofinto.ch/content/fonts/PPNeueMontreal-MediumItalic.woff2) format("woff2"), url(https://ofinto.ch/content/fonts/PPNeueMontreal-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url(https://ofinto.ch/content/fonts/PPNeueMontreal-SemiBold.woff2) format("woff2"), url(https://ofinto.ch/content/fonts/PPNeueMontreal-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}