<div id="compare-color-popup" class="modal" data-reveal>
    <div class="modal-content">
        <a href="#" class="modal-close" aria-label="Close">&times;</a>
        <div class="modal-header">
            <h2 class="modal-header-title">{{lang 'common.compare_color_text'}}</h2>
        </div>
        <div class="modal-body">
            <div class="themevaleCompareColor" data-compare-color>
                <div class="compareColor-swatch"></div>
                <div id="color-swatch-image" class="color-swatch-image scrollbar-horizontal"></div>
            </div>
            <div class="loadingOverlay"></div>
        </div>
    </div>
</div>
