<ul class="productListing{{#if theme_settings.product_list_display_mode '===' 'grid'}} productGrid{{else}} productList{{/if}}{{#if theme_settings.show_brand_product_gallery}} show-brand{{/if}}">
    {{#each products}}
    <li class="product">
        {{>components/products/card-category settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer show_wishlist=../settings.show_wishlist productsnew=../productsnew event=../event position=(add @index 1)}}
    </li>
    {{/each}}
</ul>
